@font-face {
	font-family: "DeFonteReduced-DemiGras";
	src: url("../../fonts/DeFonteReduced-DemiGras.woff2") format("woff2"),
		url("../../fonts/DeFonteReduced-DemiGras.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

.contentIframeClass {
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}

.dummyIFrameClass {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 15px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 30px;
	visibility: hidden;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

html,
body {
	margin: 0;
	overflow: hidden
}